<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OAuth Tutorials</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/auth/logout">
                    Logout
                </a>
            </li>
            <li>
                <a href="/auth/login">
                    Login   
                </a>
            </li>
            <li>
                <a href="/">
                    Homepage
                </a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>Net Ninja OAuth Tut's</h1>
        <h2>Homepage</h2>
    </header>
    <main>
        <p>Probably the best OAuth tutorials on the planet :)</p>
    </main>
</body>
</html>